.example-card {
  height: 400px;
  width: auto;
  background-color: lightgrey;
  color: black;
  text-align: center;
  justify-content: center;
}

.example-header-image {
  background-size: cover;
  height: 250px;
  width: auto;
}
