<div>
  <input matInput type="text" placeholder="Inserire nome del film" #search>
  <button style="margin-bottom: 2%;"(click)="onSearch(search.value)" class="fa-solid fa-plus me-2">Cerca</button>
  <div *ngIf="listMovie" style="display: flex;">
    <mat-card *ngFor="let movie of listMovie" class="example-card">
      <mat-card-header>
        <mat-card-subtitle>Media Voto: {{movie.vote_average}}</mat-card-subtitle>
        <mat-card-title>{{movie.title.toLocaleUpperCase()}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Uscita: {{movie.release_date}}</p>
        <p>Popolarita: {{movie.popularity}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
